body {
  font-size: 18px;
  line-height: normal;
}

.pal{
  margin: 40px 300px;
}

.add-form {
  display: flex;
}

.add-form-input {
  flex-grow: 1;

  box-sizing: border-box;
  height: 46px;
  margin-right: 16px;
  padding: 12px;

  font: inherit;

  border: 1px solid #a1b5c4;
  border-radius: 4px;
}

.add-form-input:focus {
  border: 1px solid #5353b2;
  outline: none;
}

.add-form-input:hover {
  box-shadow: 0 0 6px rgba(91, 83, 178, 0.6);
}

.add-form-input::placeholder {
  color: #a1b5c4;
}

.add-form-button {
  flex-shrink: 0;
  padding: 12px;

  font: inherit;
  color: #ffffff;

  background-color: #5353b2;
  border: none;
  border-radius: 4px;

  user-select: none;
  touch-action: manipulation;
}

.add-form-button:hover,
.add-form-button:focus {
  background-color: #4545a0;
  outline: none;
}

.add-form-button:active {
  background-color: #2e4486;
}
